@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

body{
    font-family: 'Roboto Mono', monospace;
}
.element-container{
    width: 70px;
    height: 70px;
}
.element-container p{
    margin: 0;
}
p{
    font-size: 9px;
}
#periodic-table{
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(18,70px);
    grid-template-rows: repeat(10,70px);
}

#element2{
    grid-column-start: 18;
}

#element5{
    grid-column-start: 13;
}

#element13{
    grid-column-start: 13;
}

#element87,
#element88{
    grid-row-start: 7;
}
#element72,
#element104{
    grid-column-start: 4;
}
.Lanthanide{
    grid-row: 9/10;
    background-color: #FFC0AD;
}
.Actinide{
    grid-row: 10/10;
    background-color: #C8F3BA;
}
.Nonmetal{
    background-color: #FAFFC2;
}
.Alkali{
    background-color: #FFD6F1;
}
.Alkaline{
    background-color: #D1E7DD;
}
.Transition{
    background-color: #CFE2FF;
}
.Post-transition{
    background-color: #CFF4FC;
}
.Metalloid{
    background-color: #C9FFC9;
}
.Halogen{
    background-color: #FEDEC3;
}
.Noble{
    background-color: #DFDCE5;
}